<!DOCTYPE html>
<html>
<head>
	<title>NBAI</title>
	<link rel="stylesheet" type="text/css" href="Styles/main.css">
</head>
<body>
	<header>
		<h1>NBAI</h1>
		<ul>
			<li><a href="#">Contact</a></li>

		</ul>
		<h1 class="CenterLabel">NBAI</h1>
		<p>Your home for NBA Fantasy Predictions</p>

		<p>Predictions</p>

	</header>

	<table style="width: 100%">
		<tr>
			<th>Player Name</th>
			<th>Fantasy Points</th>
			<th>Predictions</th>
		</tr>
		<tr>
			<th>Lebron James</th>
			<th>30</th>
			<th>35</th>
		</tr>
		<tr>
			<th>Steph Curry</th>
			<th>33</th>
			<th>36</th>
		</tr>
		<tr>
			<th>Carmelo Anthony</th>
			<th>27</th>
			<th>25</th>
		</tr>

	</table>

	

</body>
</html>